banaWelcomeView {
	background: #ffffff;
}

.kibanaLoader * {
  display: none !important;
}

.kibanaLoader {
  background: #ffffff !important;
  background-image: url("https://cdn.rawgit.com/eea/eea.docker.elk-kibana/c26bffb9/kibana/src/EEA-logo-EN.svg") !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
}
